/* General stuff */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline-width: 0;
    color: #258fb8;
}

body {
    font-size: 14px;
    background: #FCFCFC;
    color: #000;
}

div#content {
    margin: 0 auto;
    width: 1000px;
}

/* H styles */
h1 {
    font-size: 1.8em;
    color: #258FB8;
}

h2 {
    font-size: 1.5em;
    color: #258FB8;
}

h3 {
    font-size: 1.3em;
    color: #258FB8;
}

/* Header stuff */
header {
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    padding: 20px 0 20px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

header > .right {
    position: absolute;
    top: 30px;
    right: 0;
}

header a {
    color: #000;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

header a: hover {
    color: #258fb8;
}

header h1 {
    position: absolute;
    top: 10px;
    left: 5px;
    font-weight: 800;
    font-size: 30px;
}

header h1 a {
    color: #258FB8;
}

/* Header nav stuff */
header nav {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

header nav > ul > li {
    margin-right: 20px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
}

header nav > ul > li {
    *display: inline;
}

header nav > ul > li: last-of-type {
    margin-right: 0;
}

header nav > ul > li: hover > a {
    color: #258fb8;
}

header nav > ul ul {
    position: absolute;
    top: 60px;
    left: -15px;
    z-index: 10;
    white-space: nowrap;
    background: #ddd;
    border: 1px solid #ccc;
    list-style: none;
    display: none;
}

header nav > ul ul li > a: hover {
    color: #000;
}

/* Header search styles */
header nav select {
    display: none;
    margin-bottom: 10px;
}

header .search {
    margin-top: 7px;
    margin-right: 10px;
}

header .search input[type="text"] {
    background: url('/assests/images/search.png') 10px center no-repeat #FCFCFC;
    border: 1px solid #ddd;
    padding: 6px 15px 6px 35px;
    width: 100px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    outline: none;
}

/* Footer stuff */
footer {
    margin: 0 auto;
    width: 1000px;
    padding: 15px 0;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 0.9em;
}

/* Footer ads stuff */
footer p.ads {
    margin-top: 10px;
}

footer ul.ads li {
    margin-right: 2px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
}

footer ul.ads li {
    *display: inline;
}

/* Page nav styles */
#page_nav {
    margin-top: 20px;
    padding: 20px 0;
    height: 20px;
    line-height: 20px;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#page_nav a: hover {
    text-decoration: underline;
}

#page_nav .prev {
    padding-left: 30px;
    left: 0;
    position: absolute;
}

#page_nav .next {
    padding-right: 30px;
    right: 0;
    position: absolute;
}

#page_nav .center {
    text-align: center;
    display: block;
}

/* Article pre styles */
article code {
    background: #ddd;
    border: 1px solid #C0C0C0;
    font-size: 0.9em;
    padding: 1px 3px;
    margin: 0 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

article pre {
    font-size: 1/0.9em;
    line-height: 1.5;
    margin-top: 10px;
    padding: 5px 15px;
    overflow-x: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

article pre code {
    background: #ddd;
    border: 1px solid #C0C0C0;
    padding: 0;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

/* Post styles */
ul#related_posts {
    list-style: none;
}

/* Article styles */
article {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
}

article:last-of-type {
    border-bottom: 0px;
    margin-bottom: 0px;
}

/* Realted/Comment styles */
section#related, section#comment {
    margin-top: 10px;
}